html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

body{
    background: #191919/*url(b.png) no-repeat center*/;
    background-size:cover;
    
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    right: 0;
}


.sections{
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    right: 5%;
    
}


.link1 a, .link2 a, .link3 a, .link4 a{

    margin-left: 30px;
    transition: all 0.3s ease-out ;
    text-transform: uppercase;
    color: white;
    font-family: 'GFS Didot';
}

.link4 a{
    border: 1px solid rgb(14, 202, 14);
    padding: 10px;
    border-radius: 3px;
}

.link4 a:hover{
    background-color: rgb(14, 202, 14);
    color: black;
}

.name{
    display: inline-block;
    color: white;
    font-size: 80px;
    margin-left: 30px;
    font-weight: 500;
    animation: flicker 1.5s infinite alternate;
    width: fit-content;
    font-family: 'GFS Didot';
    /*background: url(first_section_back.png) no-repeat center;
    background-size: contain;
    */
}


@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 40px fuchsia
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  .projects, .skills, .about-me{
      color: white;
      font-family: 'GFS Didot';
      font-size: 40px;
      height: 100vh;
      width: 100%;
      position: relative;
      margin-top: 50px;
      
  }

  .skills i{
      position: relative;
      margin-top: 20px;
      color: fuchsia;
      border-left: 3px solid fuchsia;
      padding-left: 5px;
  }

  .all{
      position: relative;
      left: 30%;
      width: 70%;
  }