html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

body{
    background: #fffeef;
    background-size: cover;
    overflow-x: hidden;
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    right: 0;
}


.sections{
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    color: #191919;
    text-align: center;
    align-items: center;
    right: 5%;
    
}


.link1 a, .link2 a, .link3 a, .link4 a{

    margin-left: 30px;
    transition: all 0.7s ease-out ;
    text-transform: uppercase;
    color: #191919;
    font-family: 'GFS Didot';
}

.link4 a{
    border: 1px solid #191919;
    padding: 10px;
    border-radius: 5px;
}

.link4 a:hover{
    background-color: #191919;
    color: #fffeef;
}

.presentation{
    position: relative;
    display: grid;
    grid-template-columns: 65% 35%;
}

 .presentation .laptop-image{
    position: relative;
    display: inline-block;
    width: 800px;
    height: 600px;
}

.presentation img{
    display: inline-block;
    width: 600px;
    height: 800px;
}

.name{
    display: inline-block;
    position: relative;
    color: #191919;
    font-size: 80px;
    margin-left: 30px;
    font-weight: 500;
    width: fit-content;
    font-family: 'GFS Didot';
    line-height: 100px;
 
    /*background: url(first_section_back.png) no-repeat center;
    background-size: contain;
    */
}

.name span{
    font-size: 30px;
    font-family: 'GFS Didot';
    margin-bottom: 30px;
}
  
  .projects, .skills, .about-me, .contacts{
      color: #191919;
      font-family: 'GFS Didot';
      font-size: 24px;
      height: 100vh;
      width: 100%;
      position: relative;
      margin-top: 50px;
      margin-left: 10px;
  }

  .about-me{
      margin-top: 200px;
  }

  .skills i{
      position: relative;
      margin-top: 20px;
      color: #191919;
      border-left: 3px solid #191919;
      padding-left: 5px;
  }

  .all{
      position: relative;
      left: 30%;
      width: 70%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fffeef; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #191919; 
    border-radius: 5px;
  }

  @media screen and (max-width: 992px) {
    .presentation img{
      display: none;
    }

    .about-me{
        margin-top: 300px;
    }

  }